/*h1{
	background-color: #186A3B: 
	width: 10px;
	height: 20px;
}
*/
h3{
	border: 5px dotted #E74C3C;
	font-size: 20px;
	color: grey;
}
.h4{
	border: 5px dashed #3498DB;
	font-size: 20px;
	color: lime;
}
.h6{
	border: 5px ridge #F8C471;
	font-size: 20px;
	color: tomato;
}
#zero{
	border: 4px ridge black;
	font-size: 40px;
	color: teal;

}
.red{
	color: #c70532;
}
.box1{
	background-color: rgb(205, 92, 92);
	width: 200px;
    height: 150px;
    text-align: center;
    float: left;
}
.box2{
	background-color: rgb(240, 128, 128);
	width: 200px;
    height: 150px;
    text-align: center;
     float: left;
}
.box3{
	background-color: rgb(250, 128, 114);
	width: 200px;
    height: 150px;
    text-align: center;
    float: left;
}
.box4{
	background-color: rgb(233, 150, 122);
	width: 400px;
    height: 150px;
    text-align: center;
    float: right;
}